*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: url("login.jpg") no-repeat;
    background-size: cover;
}

.header{
    display: flex;
}
button{
    margin: 50px 0 50px 60px;
    padding: 10px 30px;
    background: none;
    border: 1px solid #fff;
}

button:hover{
    cursor: pointer;
    border: 1px solid #000;
    background: #fff;
    color: #000;
}

.navlink{
    flex: 1;
    padding: 30px;
}

.navlink li:hover{
    border-bottom: 1px solid #fff;
}

.navlink ul{
    display: flex;
    justify-content: space-around;
}

main{
    margin-left: 40%;
}

.mainText{
    margin-top: 40px;
}

.mainText .wrapper{
    
    background: -webkit-linear-gradient(-135deg,#441a15,#c5673e);
    
}

.mainText .wrapper{
    color: #c5673e;
    background-color: white;
    
}

